@import './styles/reset.scss';
@import './styles/colors.scss';

.App {
  text-align: center;
}

.container {
  max-width: 100%;
  width: 847px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-columns: 20% 80%;
}